{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Minecraft Server</h1>
    <p class="lead">Try new minecraft server - topofthehop.hopto.org:25565</p>
    <p><a href="http://topofthehop42.azurewebsites.net/" class="btn btn-primary btn-large">topofthehop.hopto.org:25565 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Start here.
        </p>
        <p><a class="btn btn-default" href="http://topofthehop42.azurewebsites.net/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Installed Mods</h2>
        <p>List of installed mods.</p>
        <p><a class="btn btn-default" href="http://topofthehop42.azurewebsites.net/">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
